input {
  min-height: 40px;
  width: 250px;

  padding: 10px 20px;

  border-radius: 4px;
  border: 1px solid lightslategray;

  appearance: none;
  outline: none;

  transition: border-color 250ms ease-in-out;

  &:not(:disabled) {
    &:active,
    &:focus {
      border: 2px solid lightseagreen;
    }
  }

  &:disabled {
    color: gray;
    opacity: 0.7;
  }
}
